{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
  <div class="container">
    <h1>Oops</h1>
    <p>Il semblerait que vous vous soyez perdu !</p>
  </div>
{% endblock %}