{% extends "base.html.twig" %}

{% block title %}Page inaccessible{% endblock %}

{% block body %}
  <div class="container">
    <h1>Oops</h1>
    <p>Vous n'avez pas les droits requis pour venir vous ballader ici !</p>
  </div>
{% endblock %}